body {
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 230, 230);
}

h2, h3, h4 {
    font-size: 20px;
    padding: 10px;
}

p {
    display: flex;
    text-align: left;
    padding: 5px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main-content {
    display: flex ;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.principal-news {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(220, 220, 220);
    width: 100%;
}

.link-news {
    color: black;
    text-decoration: none;
}

.link-news:hover {
    color: tomato;
}

.img-principal {
    width: 100%;
}

.datatime-news {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-left: 10px;
}

.news-sidebar {
    padding: 5px;
    margin: 5px;
    background-color: rgb(220, 220, 220);
}

.img-sidebar {
    width: 100%;
}

.dividing-line {
    height: 3px;
    background-color: tomato;
    border: none;
}

.last-news {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 220);
}

.secondary-news {
    margin: 10px;
}

.img-section {
    display: flex;
    width: 100%;
}

.old {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 220, 220);
    width: 100%;
}

.old-news {
    width: 100%;   
}

.line-device {
    border: none;
    background-color: rgb(210, 210, 210);
    height: 3px;
}

@media only screen and (min-width: 600px) {
    .old {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 32px;
    }

    aside {
        margin-left: 10px;
    }

    h4 {
        font-size: 18px;
    }

    .img-sidebar {
        width: 50%;
    }

    .last-news {
        flex-direction: row;
        justify-content: space-around;
    }    

    .old {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1024px) {
    aside {
        width: 800px;
    }

    #main-content {
        flex-direction: row;
        justify-content: space-between;
    }  
}

/* Form subscription styles */

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#form input { 
    margin: 20px;
}

#col1, #col2 {
    display: flex;
    flex-direction: column;
}

.input-form {
    height: 80px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.error-name, .error-email, .error-age, .error-phone, .error-adress {
    display: none;
}

.error-city, .error-pc, .error-nid, .error-password, .error-repeat-password {
    display: none;
}

.error-msg-name, .error-msg-email, .error-msg-age, .error-msg-phone, .error-msg-adress {
    display: flex;
    justify-content: flex-start;
    color: tomato;
    margin-left: 20px;
    font-size: 10px;
}

.error-msg-city, .error-msg-pc, .error-msg-nid, .error-msg-password, .error-msg-repeat-password {
    display: flex;
    justify-content: flex-start;
    color: red;
    margin-left: 20px;
    font-size: 10px;
}

#enter-name {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 768px){
    #form {
        flex-direction: row;
        justify-content: center;
    }
    .form-input {
        width: 50%;
    }
}


