footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
}

button {
    padding: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: rgb(210, 210, 210);
}

button:hover { 
    background-color: tomato;
}

#github-link {
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#github-link:hover {
    font-weight: bold;
}

#form-button {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 300;   
}

@media only screen and (min-width: 768px) {
    footer {
        text-align: left;
    }
}

