footer{
    text-align: left;
    background-color: black;
    color: white;
    height: 30px;
    padding: 10px;
    font-size: 14px;
}

@media only screen and (max-width: 768px){
    footer{
        text-align: center;
    }
}

